* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

label, input {
    display: block;
}

.form-input-container {
    display: flex;
}

.antiquewhite {
    background-color: antiquewhite;
}

button {
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
    height: 2.5em;
    width: 10em;
    margin: 30px 0;
}

label {
    margin: 20px 0 0 0;
}

.form-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

input {
    border-radius: 4px;
    border: 1px solid black;
    height: 2em;
    width: 16em;
}

.antiquewhite {
    padding: 10px 0 30px 40px;
    box-shadow: 0 8px 5px -5px black;
}

p, button, h2 {
    margin-left: 40px;
}

fieldset {
    border: 0;
    padding: 0;
}

.form-right {
    margin-left: 100px;
}

h1 {
    margin-bottom: -10px;
}